  <tbody>
      <tr>
        <td>Artist: <%= event.artist %></td>
        <td>Description:<%= event.description %></td>
        <td>Price low: <%= event.price_low %></td>
        <td>Price high: <%= event.price_high%></td>
        <td>Date: <%= event.event_date %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
  </tbody>
